body, html, .main {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    font-size: 14px;
    font-family: "微软雅黑";
}

.core {
    width: 90%;
    height: 100%;
    overflow: hidden;
    padding: 5px;
}

#control {
    width: 20%;
    height: 100%;
    margin: 0;
    float: left;
}

#allmap {
    width: 100%;
    height: 100%;
    margin: 0;
    float: right;
}

#halfmap {
    width: 80%;
    height: 100%;
    margin: 0;
    float: right;
}

input[type="button"],input[type="text"] {
    background: rgb(255, 255, 255);
    padding: 2px 6px;
    text-align: center;
    color: rgb(0, 0, 0);
    line-height: 1.3em;
    font-family: arial,sans-serif;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    border-top-color: rgb(139, 164, 220);
    border-bottom-color: rgb(139, 164, 220);
    border-left-color: rgb(139, 164, 220);
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    white-space: nowrap;
    font-size-adjust: none;
    font-stretch: normal;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.35);
}

#ida {
    padding: 2px 6px;
    text-align: center;
    color: deepskyblue;
    line-height: 1.3em;
    font-family: arial,sans-serif;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    white-space: nowrap;
    font-size-adjust: none;
    font-stretch: normal;
}


#timeUnit_left{
    background: rgb(255, 255, 255);
    padding: 2px 6px;
    text-align: right;
    width: 40px;
    color: rgb(0, 0, 0);
    line-height: 1.3em;
    font-family: arial,sans-serif;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    border-top-color: rgb(139, 164, 220);
    border-bottom-color: rgb(139, 164, 220);
    border-left-color: rgb(139, 164, 220);
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    white-space: nowrap;
    font-size-adjust: none;
    font-stretch: normal;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.35);
}

#timeUnit_right{
    background: rgb(255, 255, 255);
    padding: 2px 6px;
    text-align: left;
    width: 40px;
    color: rgb(0, 0, 0);
    line-height: 1.3em;
    font-family: arial,sans-serif;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    border-top-color: rgb(139, 164, 220);
    border-bottom-color: rgb(139, 164, 220);
    border-left-color: rgb(139, 164, 220);
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    white-space: nowrap;
    font-size-adjust: none;
    font-stretch: normal;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.35);
}

#timeUnit {
    background: rgb(255, 255, 255);
    padding: 2px 6px;
    text-align: center;
    width: 50px;
    color: rgb(0, 0, 0);
    line-height: 1.3em;
    font-family: arial,sans-serif;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    border-top-color: rgb(139, 164, 220);
    border-bottom-color: rgb(139, 164, 220);
    border-left-color: rgb(139, 164, 220);
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    white-space: nowrap;
    font-size-adjust: none;
    font-stretch: normal;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.35);
}


