<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

     <!--
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.0.2/react.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.0.2/react-dom.min.js"></script>
        
    -->

    <script src="{{url_for('static', filename='react.min.js')}}"></script>
    <script src="{{url_for('static', filename='react-dom.min.js')}}"></script>
    <script src="{{url_for('static', filename='jquery.min.js')}}"></script>


    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=fw7E1VZEWgzB6yKaDu3t4WhgWCrAkG4G"></script>

    <link rel="stylesheet" href="{{url_for('static', filename='index.css')}}" />
    <script type="text/javascript" src="{{ url_for('static', filename='demo.js') }}"></script>
    <title>GPSMAP</title>
</head>
<body onload="onload()">
    <div class="main">
        <div id="control">
            <div class="core">
                <div id="One">
                    <div id="title">Position One</div>
                    <input type="text" class="latitude" style="width:100%" placeholder="纬e.g. 39.9784..." onchange="Change('One')"/>
                    <input type="text" class="longitude" style="width:100%" placeholder="经e.g. 116.3222..."  onchange="Change('One')"/>
                    <input type="text" class="distance"  style="width:100%" placeholder="距离单位 米" onchange="Change('One')"/>
                    <input type="button" value="显示" onclick="ShowCircle('One')" />
                </div>
                <div id="Two">
                    <div id="title">Position Two</div>
                    <input type="text" class="latitude" style="width:100%" placeholder="纬e.g. 39.9784..." onchange="Change('Two')" />
                    <input type="text" class="longitude" style="width:100%" placeholder="经e.g. 116.3222..." onchange="Change('Two')" />
                    <input type="text" class="distance" style="width:100%" placeholder="距离单位 米" onchange="Change('Two')" />
                    <input type="button" value="显示" onclick="ShowCircle('Two')" />
                </div>
                <div id="Three">
                    <div id="title">Position Three</div>
                    <input type="text" class="latitude" style="width:100%" placeholder="纬e.g. 39.9784..." onchange="Change('Three')" />
                    <input type="text" class="longitude" style="width:100%" placeholder="经e.g. 116.3222..." onchange="Change('Three')" />
                    <input type="text" class="distance" style="width:100%" placeholder="距离单位 米" onchange="Change('Three')" />
                    <input type="button" value="显示" onclick="ShowCircle('Three')" />
                </div>
                <input type="text" id="EP" style="width:100%" value="100" />
                <input type="button" value="计算" onclick="Calc()" />
            </div>
        </div>
        <div id="halfmap"></div>
    </div>
</body>
</html>

