<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

    <title>GPSMAP</title>

    <!--
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.0.2/react.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.0.2/react-dom.min.js"></script>

    -->

    <script src="{{url_for('static', filename='react.min.js')}}"></script>
    <script src="{{url_for('static', filename='react-dom.min.js')}}"></script>
    <script src="{{url_for('static', filename='jquery.min.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='jquery-ui.css')}}">
    <script type="text/javascript" src="{{ url_for('static', filename='jquery-ui.js') }}"></script>


    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=fw7E1VZEWgzB6yKaDu3t4WhgWCrAkG4G"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/library/CurveLine/1.5/src/CurveLine.min.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/library/DistanceTool/1.2/src/DistanceTool_min.js"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='base.css')}}" />
    <script type="text/javascript" src="{{ url_for('static', filename='base.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename=name_js) }}"></script>




</head>
<body onload="onload()">
    <div class="main">
        <div id="uid" value="{{id}}" hidden="hidden"></div>
        <div id="allmap"></div>
    </div>
</body>
</html>
